##WEB SCRAPING

In [ ]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (4.13.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.10.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = "https://books.toscrape.com/"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

In [ ]:
books = soup.find_all("article", class_="product_pod")

book_data = []
for book in books:
    title = book.h3.a["title"]
    price = book.find("p", class_="price_color").text.replace("£", "").replace("Â", "")
    rating = book.p["class"][1]
    availability = book.find("p", class_="instock availability").text.strip()

    book_data.append([title, float(price), rating, availability])

In [ ]:
df = pd.DataFrame(book_data, columns=["Title", "Price (£)", "Rating", "Availability"])
print(df.head())

                                   Title  Price (£) Rating Availability
0                   A Light in the Attic      51.77  Three     In stock
1                     Tipping the Velvet      53.74    One     In stock
2                             Soumission      50.10    One     In stock
3                          Sharp Objects      47.82   Four     In stock
4  Sapiens: A Brief History of Humankind      54.23   Five     In stock

In [ ]:
df.to_csv("books_data.csv", index=False)
print("Data saved to books_data.csv ✅")

Data saved to books_data.csv ✅

In [ ]:
data=pd.read_csv('/content/books_data.csv')
print(data.head(10))

                                               Title  Price (£) Rating  \
0                               A Light in the Attic      51.77  Three
1                                 Tipping the Velvet      53.74    One
2                                         Soumission      50.10    One
3                                      Sharp Objects      47.82   Four
4              Sapiens: A Brief History of Humankind      54.23   Five
5                                    The Requiem Red      22.65    One
6  The Dirty Little Secrets of Getting Your Dream...      33.34   Four
7  The Coming Woman: A Novel Based on the Life of...      17.93  Three
8  The Boys in the Boat: Nine Americans and Their...      22.60   Four
9                                    The Black Maria      52.15    One

  Availability
0     In stock
1     In stock
2     In stock
3     In stock
4     In stock
5     In stock
6     In stock
7     In stock
8     In stock
9     In stock

In [ ]:
print(data['Rating'].value_counts())

Rating
One      6
Five     4
Four     4
Three    3
Two      3
Name: count, dtype: int64